<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="2">
  <test name="Way2">
    <classes>
      <class name="Nextgeneration.Way2sms"/>
      <class name="Nextgeneration.Naukri1"/>
    </classes>
  </test> <!-- Way2 -->
</suite> <!-- Suite -->
